.first-container, .second-container, .desc-container {
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.lodging-cover {
    height: 415px;
}

.lodging-info {
    color: #FF6060;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lodging-landlord {
    color: #FF6060;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landlord-name {
    margin-right: 20px;
    display: flex;
    width: 100px;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
}

.landlord-img {
    border-radius: 50%;
    width: 64px;
}

.desc-container {
    align-items: flex-start;
    height: 250px;
}

@media (max-width: 769px) {
    .first-container, .second-container, .desc-container {
        margin: 0 4% 20px 4%;
    }

    .first-container {
        display: block;
    }

    .second-container {
        display: block;
        position: relative;
        top: -70px;
    }

    .rating-container {
        position: relative;
        top: 40px;
    }

    .desc-container {
        flex-direction: column;
        height: 100%;
    }

    .description, .equipements {
        width: 100%;
    }

    .lodging-landlord {
        position: relative;
        top: 60px;
        justify-content: end;
    }
}