.slider {
    position: relative;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
    margin: 50px 100px;
}

.slider-img {
    width: 100%;
    border-radius: 25px;
}

.slide {
    opacity: 0;
    transition-duration: 0.5s ease;
}

.slide.active {
    width: 100%;
    opacity: 1;
    transition-duration: 0.5s;
    transform: scale(1);
}

.right-arrow, .left-arrow {
    width: 90px;
    height: 100%;
    position: absolute;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow {
    right: 0;
}

.left-arrow {
    left: 0;
}

@media (max-width: 769px) {
    .slider {
        height: 300px;
        margin: 20px 4% 0 4%;
    }

    .slider-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}